[submodule /themes-book] 
   path = ./themes/book
   url = https://github.com/kaiiiz/hexo-theme-book.git
[submodule themes-tree] 
   path = ./themes/tree
   url = https://github.com/wujun234/hexo-theme-tree.git